# Cache GPG passphrase longer:
default-cache-ttl 34560000  # 10 hours
max-cache-ttl 34560000      # 10 hours
pinentry-program {{ trim (output "brew" "--prefix") }}/bin/pinentry-mac # Use a CLI pinentry